
.item_frame {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $color-line;

  // field for editing
  input {
    width: 100%;
    margin: 0 10px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  // field only for display
  p {
    width: 100%;
    margin: 0 10px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: line-through;
  }

  // delete icon
  .del {
    color: $color-danger;
  }
}
